/* This applies to all elements (bad practice) */
* {
	color: #fff;
	/*font-family: Arial, Helvetica, sans-serif;
	background-image: url("ref/ref.jpg");
	background-position: center; /* Center the image */
	/*background-repeat: no-repeat; /* Do not repeat the image */
	/*background-size: cover; /* Resize the background image to cover the entire container */
}

/* This css centers at the middle of the screen */
#container {
	padding: 3px;
    position: absolute;
    color:#fff;
    top: 72%;
    left: 92%;
    transform: translate(-50%,-50%);
    font-size: 13px;
	text-align: center;
	background-color: #0d0f0c;
	border-radius: 15px;
	border: 2px solid #000000;
}

#container2 {
	padding: 3px;
    position: absolute;
    color:#fff;
    top: 10%;
    left: 15%;
    transform: translate(-50%,-50%);
    font-size: 15px;
	text-align: center;
	background-color: #0d0f0c;
	border-radius: 15px;
	border: 2px solid #000000;
}

.small {
	font-size: 25px;
}

.tg {
	border-collapse:collapse;
	border-spacing:0;
	border:none;
}

.tg td{ 
	font-family:"Times New Roman";
	font-size:13px;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
}

.tg th{
	font-family:"Times New Roman";
	font-size:13px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
}

.tg .tg-baqh {
	text-align:center;
	vertical-align:top
}

.tg .tg-0agl {
	font-weight:normal;
	font-size:13px;
	font-family:"Times New Roman";
	text-align:center;
	vertical-align:top
}

.tg .tg-0lax {
	text-align:left;
	vertical-align:top
}


.tg2  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}