/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

	 html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
	 body{line-height:1}
	 article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
	 nav ul{list-style:none}
	 blockquote,q{quotes:none}
	 blockquote:before,blockquote:after,q:before,q:after{content:none}
	 a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
	 mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
	 del{text-decoration:line-through}
	 abbr[title],dfn[title]{border-bottom:1px dotted;cursor:url(css/cursor.cur),auto;}
	 table{border-collapse:collapse;border-spacing:0}
	 hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
	 input,select{vertical-align:middle}
	 li{list-style:none}
	 
	 
	 /* =============================================================================
			My CSS
			========================================================================== */
	 
	 /* ---- base ---- */
	 
	 html,body{ 
		 width:100%;
		 height:100%;
		 background:#111;
	 }
	 
	 html{
		 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	 }
	 
	 body{
		 font:normal 75% Arial, Helvetica, sans-serif;
		 margin: 0;
		 padding: 0;
		 text-align: center; /* !!! */
		 cursor: url(cursor.png), pointer;
	 }

	 canvas{
		 display:block;
	 }
	 
	 
	 /* ---- stats.js ---- */
	 
	 .count-particles{
		 background: #000022;
		 position: absolute;
		 top: 48px;
		 left: 0;
		 width: 80px;
		 color: #13E8E9;
		 font-size: .8em;
		 text-align: left;
		 text-indent: 4px;
		 line-height: 14px;
		 padding-bottom: 2px;
		 font-family: Helvetica, Arial, sans-serif;
		 font-weight: bold;
	 }
	 
	 .js-count-particles{
		 font-size: 1.1em;
	 }
	 
	 #stats,
	 .count-particles{
		 -webkit-user-select: none;
		 margin-top: 5px;
		 margin-left: 5px;
	 }
	 
	 #stats{
		 border-radius: 3px 3px 0 0;
		 overflow: hidden;
	 }
	 
	 .count-particles{
		 border-radius: 0 0 3px 3px;
	 }
	 
	 
	 /* ---- particles.js container ---- */
	 
	 #particles-js{
		 width: 100%;
		 height: 100%;
		 background-color: #ffffff;
		 background-image: url('');
		 background-size: cover;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
	 }

	 .container {
		display: flex;
		justify-content: center;
	}
	.centered {
    margin: 0 auto;
    text-align: left;
		width: 800px;
		position: relative;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
.panel {
	font-family: "Source Sans Pro";
	font-size: 1.3em;
	position: absolute;
	z-index: 10;
	width: 500px;
	height: 520px;
	background: rgba(0, 0, 0, 0);
	top: 50%;
	left: 50%;
	padding: 20px;
	border-radius: 4px;
	box-sizing: border-box;
	z-index: 100;
	border: #2b2b2b;
	margin: 0 auto;
}
body {
	line-height: 1;
	font: normal 75% Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	background: #fff;
}

html {
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-tap-highlight-color: transparent;
}
.panel h1 {
	font-size: 1.8em;
	font-weight: 700;
	text-align: center;
	color: #222;
	margin-top: -4px;
}
.panel .r-version {
	display: block;
	margin-bottom: 7px;
	text-align: center;
	font-size: 0.75em;
}
.panel h2 {
	font-weight: 400;
	font-size: 0.8em;
	margin-bottom: 16px;
	text-align: center;
	line-height: 1.3em;
}
li {
	list-style: none;
}
.panel li {
	font-size: 1.1em;
	font-weight: 400;
	text-align: center;
	height: 34px;
	line-height: 34px;
	background: #fff;
	margin-top: 10px;
	color: #222;
	border-radius: 4px;
}
.loaded .panel li {
	-webkit-transition: background 0.2s ease,color 0.2s ease;
	transition: background 0.2s ease,color 0.2s ease;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}
.panel li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #222;
}
.loaded .panel li a {
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}
.panel li a:visited {
	color: #222;
}
.panel li .label, .panel li .svg-wrap {
	display: inline-block;
	vertical-align: top;
}
.panel li .svg-wrap {
	width: 18px;
	height: 34px;
	margin-left: 6px;
}
.panel li .svg-wrap svg {
	fill: #222;
	width: 100%;
	height: 100%;
	-webkit-transition: fill 0.2s ease;
	transition: fill 0.2s ease;
}
.loader,
.loader:before,
.loader:after {
  background: #2b2b2b;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #2b2b2b;
  text-indent: -9999em;
	margin-top: 20px;
	margin-left: 200px;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

body{
	margin: 0px;
	padding: 0px;
}
#bg{
	height: 100vh;
	width: 100%;
	position: absolute;
	overflow: hidden;
}
#bg img{
	height: 120vh;
	width: 105%;
	filter:blur(20px);
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
}
#blackLayer{
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,.2);
	position: absolute;
	z-index: 99;
}
#main{
	width: 25%;
	background-color:#fff;
	border-radius: 15px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 999;
}
#image img{
	height: 180px;
	width: 100%;
	margin-top: -5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
#player{
	padding: 25px;
	color:#333;
}
#songTitle{
	width:300px;
	text-align: center;
	font-family: monospace;
	font-size: 18px;
	position: absolute;
	top:60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#buttons{
	height: 50px;
	width: 100%;
	margin-top: 50px;
	position:relative;
	top:10%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#play,#next,#pre{
	width: 50px;
	height: 50px;
	border: 0;
	background-color:#2b2b2b;
	border-radius: 50%;
	outline: none;
	cursor:url(css/cursor.cur),auto;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#next{
	width: 30px;
	height: 30px;
	left: 70%;
}
#pre{
	width: 30px;
	height: 30px;
	left: 30%;
}
#play img,#next img,#pre img{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#seek-bar{
	width: 250px;
	height: 5px;
	background-color:gray;
	display: flex;
	border-radius: 50px;
	margin-left: 25px;
	cursor:url(css/cursor.cur),auto;
}
#fill{
	height: 5px;
	background-color: #2b2b2b;
	border-radius: 20px;
}
#handle{
	width: 8px;
	height: 8px;
	background-color:#2b2b2b;
	border-radius: 50%;
	margin-left: -5px;
	transform: scale(2);
}